/* NAVIGATION
------------------------------------------------------------------------*/

.navigation {
  grid-area: navigation;

  .nav-item {
    display: inline-block;
    margin: 0.5em 0;
    width: 100%;
  }
}