/* NAVIGATION
------------------------------------------------------------------------*/

.navigation {
  grid-area: navigation;

  .nav-item {
    display: inline-block;
    margin: 1em 0;
    width: 100%;
  }
}