/* VARIABLES
------------------------------------------------------------------------*/

/* BREAKPOINTS */
$bp-xs: 30em; /*  30.00 / 480px */
$bp-small: 46.25em; /*  46.25 / 700px */
$bp-medium: 53.75em; /*  52.50 / 860px */
$bp-large: 75em; /*  75.00 / 1024px */

/* COLORS */
$color-charcoal: #3c3c3c;
$color-gray: #cccccc;
$color-gray-light: #ececec;
$color-gray-tint: #efefef;
$color-white: #ffffff;

/* FONTS */
$font-sans: "Open Sans", sans-serif;
$font-serif: "Cormorant Garamond", serif;

/* FONT-SIZES */
$font-tiny: 12px;
$font-small: 14px;
$font-reg: 16px;
$font-large: 18px;
$font-plus: 20px;

/* FONT-WEIGHTS */
$sans-bold: 600;
$sans: 400;
$serif-bold: 700;
$serif: 400;

/* GRID */
$grid-gap: 3%;

/* CONTAINER-WIDTHS */
$c-xs: 96%;
$c-small: 90%;
$c-medium: 53.75em; /*  52.50 / 860px */
$c-large: 1180px; /*  75.00 / 1024px */
