{% extends "layout.njk" %}

{% block content %}
{# {% include partials "navigation" %}
{% import 'macros/navigation-macro.njk' as nav %}
{{nav.active('home')}} #}
<h1>This is the index page</h1>


<div class="gallery">
  <!-- Loops through "images" array -->
  {% for image in images %}
  <div class="gallery__item">
    <img src="{{image.src}}" alt="{{image.alt}}">
  </div>
  {% endfor %}
</div>

{% endblock %}