{% extends "layout.njk" %}

{% block content %}
<h3>This is the content area.</h3>
<p>Featuring a loop example...</p>
<div class="gallery">
  <!-- Loops example -->
  {% for animal in animals %}
  <ul class="animals">
    <li>{{animal.type}} goes {{animal.sound}}</li>
  </ul>
  {% endfor %}
</div>

{% endblock %}