<!-- layout.njk -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="css/styles.css">
</head>
<body>
  {% import 'partials/header.njk' as header %}
  
  <article class="content">
    {% block content %} {% endblock %}
  </article>

  <script src="js/main.js"></script>
</body>
</html>